.DS_Store
.env
/backend/auth-service/.env
/backend/email-service/.env
/frontend/frontend/.env
target/
build/
.idea/
*.iml
*.ipr
*.iws
.vscode/
npm-debug.log
yarn-debug.log
yarn-error.log
.gradle/
.project
.settings/
bin/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/
/backend/auth-service/target/
/backend/email-service/target/
/frontend/frontend/node_modules/
/frontend/frontend/dist/
/frontend/frontend/dist-ssr/
/frontend/node_modules/
/frontend/package-lock.json
/frontend/frontend/package-lock.json
backend/auth-service/.env
backend/auth-service/.env
