@import "tailwindcss";

:root {
    margin: 0;
    padding: 0;
}
.overlay-blur {
  background: radial-gradient(circle at top left, rgba(0, 0, 0, 0.4), transparent 40%),
              radial-gradient(circle at top right, rgba(0, 0, 0, 0.4), transparent 40%),
              radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.4), transparent 40%),
              radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.4), transparent 40%);
}

.font-bevietnam {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.hero-section {
  background-image: url(/heroBackground.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  aspect-ratio: 15 / 9;
}
@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-expand-line {
  animation: expandLine 0.03s ease-out forwards;
}

@keyframes borderSlide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.tab-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #3e1d53;
  border-radius: 4px;
  animation: borderSlide 0.3s ease-out forwards;
}

.animate-border-slide {
  animation: borderSlide 0.8s ease-out forwards;
}
