@import "tailwindcss";

:root {
    margin: 0;
    padding: 0;
}
.overlay-blur {
  background: radial-gradient(circle at top left, rgba(0, 0, 0, 0.4), transparent 40%),
              radial-gradient(circle at top right, rgba(0, 0, 0, 0.4), transparent 40%),
              radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.4), transparent 40%),
              radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.4), transparent 40%);
}

.font-bevietnam {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.hero-section {
  background-image: url(/heroBackground.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  aspect-ratio: 15 / 9;
}